@media screen and (max-width:690px){
.word{font-size: 43px;}
}

@media screen and (min-width:900px) and (max-width:1050px){
.iam_contents {width: 800px;}
.my_pic img{width:430px;height: 430px;}
.headline {font-size: 34px;line-height: 35px;}
.introduce {font-size: 19px;}
}

@media screen and (min-width:810px) and (max-width:899px){
.iam_contents {width:680px;}
.my_pic img {width: 390px;height: 390px;}
.headline {font-size: 30px;line-height: 34px;}
.introduce {font-size: 16px;}
}

@media screen and (max-width:809px){
#iam_page .under_bar{margin:10px auto;}
.iam_contents {width:100%;padding-top: 40px;}
.right_txt{width: 100%;position: relative;text-align: center;}
.my_pic{width: 480px;margin: auto;}
.headline {font-size: 30px;line-height: 32px;}
.introduce {font-size: 14px;}
.right_txt {right: 0;margin-top:16px;}
}

@media screen and (min-width:530px) and (max-width:809px){
.my_pic img {width:480px;height: 480px;}
}

@media screen and (max-width:529px){
.my_pic {width: 350px;}
.my_pic img {width: 350px;height: 350px;}
}

@media screen and (max-width:501px){
.mobile_inner{display: block;}
.inner {padding:0px;}
.left_line{display:none;}
.right_line{display:none;}
.bottom_line{display:none;}
}

@media screen and (max-width:349px){
.my_pic{width:300px;}
.my_pic img {width:300px;height: 300px;}
}


@media screen and (min-width:300px) and (max-width:1119px){
.three_box ul li:nth-child(3) {margin-right: auto;}
.three_box{width:90%}
.three_box ul {width: 100%;}
.three_box ul li {width: 90%;height: 410px;float: inherit;margin: 27px auto;}
.three_box ul li:nth-child(1) {background: url(../img/icons8-education-50.png) center 20px/50px 50px no-repeat,#fff;}
.three_box_inner {padding: 65px 10px 0px 10px;}
.box_name {font-size: 14px;padding-bottom: 0;}
#license{width: 70%;position: absolute;left: -105%;top:150px;}
#choi{padding-bottom: 10px;width: 100%;}
#backend{ width: 40%;position: absolute;left: 52%;}
#frontend{width:46%;}
#markup{width:100%;padding-bottom: 3px;}
#php{width:100%;padding-bottom:11px;}
#design{width:50%;float:left;position: absolute;padding-top:2%;}
#design .box_title{width: 35%;}
.development .box_name{padding-bottom: 10px;}
#ms{width: 50%;padding-top:2%;float: right;}
#uiux{padding-bottom: 2%;}
}
@media screen and (min-width:300px) and (max-width:798px){
.zt-skill-bar {height: 12px;font-size: 11px;}
#uiux{ width: 95%;padding-top:0px;padding-bottom: 0;}
}

@media screen and (min-width:1121px) and (max-width:1550px){
.portfolio_img{width:91%;}
.lotte .info_part {width: 35%;    right: 3%;
    position: relative;}


#portfolio_page .headline{font-size: 34px;line-height: 34px;}
.info_part {padding-top: 30px!important;}
}

@media screen and (min-width:571px) and (max-width:1120px){

.under_bar{margin-top: 7px;margin-bottom: 7px;}
.info_part{padding-top: 0;}

#portfolio_lotte .portfolio_img{width:100%;}
#portfolio_lotte {padding-top: 60px;}
.lotte .info_part {width: 40%;    left: 2%; }
.lotte .device_part{position: relative;left: 5%;}

#portfolio_muji{padding-top: 110px;}
#portfolio_muji .info_part {width:44%;}
#portfolio_muji .portfolio_img{width:93%;}

#portfolio_coffeebean{padding-top: 110px;}
#portfolio_coffeebean .portfolio_img{width:90%;}
.coffeebean .info_part {padding-top:30px;width:37%;right: 3%;}

#portfolio_mine .portfolio_img{width:90%;}
#portfolio_mine .info_part {padding-left: 6%;}
#portfolio_mine{padding-top: 110px;}

#portfolio_page .headline{ font-size: 32px;  line-height: 32px;}
.used_language {padding-top: 5px;font-size: 13px;}
.site_exp {font-size: 13px;}
.device_part {width:55%!important;}
#portfolio_page .title{padding: 150px 0 10px 0;}

.view_btn ul li {margin-right: 3px;width:48%;}
}

@media screen and (min-width:971px) and (max-width:1119px){
.portfolio_btn{float: left;width: 100%;}
}

@media screen and (min-width:300px) and (max-width:700px){
#portfolio_page .headline {font-size: 25px;line-height: 28px;}
.site_exp {font-size: 12px;}
.used_language {font-size: 11px;}
}

@media screen and (max-width:700px){
  #portfolio_muji .view_btn ul {width:100%;}
  #portfolio_mine .view_btn ul{width:100%;}
  .portfolio_btn {line-height: 43px;}
.headline li{float:left;}
.box_name {padding-bottom: 5px;}
#still_study{position: absolute;top: 14px;left:0;}
.box_title {font-size: 14px;}
.color_txt {font-size: 12px}
.address {font-size: 13px;}
.noncolor_txt {font-size:13px;}
.curriculum {font-size: 13px;}
.mytech {font-size: 13px;}
#education{left: 51%;}
#license {left:-109%;}
#uiux {padding-top:0px;}

.device_part{width:100%!important;text-align: center;}
.device_part img{width:85%!important;}
.lotte .info_part{width: 100%;float:none;padding: 68% 10% 2% 10%;}
#portfolio_muji{padding-top:120px;}
#portfolio_mine .device_part {margin-right: 0;}
.muji .info_part {width: 100%; }
.coffeebean  .info_part {width:100%;float:none;right:0;margin: auto;padding: 68% 10% 2% 10%;}

#portfolio_coffeebean{padding-top: 120px;}

.site_exp{font-size: 14px;}
.muji .site_exp{width:98%;}
.coffeebean .site_exp{width: 98%;}
#portfolio_mine .site_exp{width:98%}

#portfolio_mine{padding-top: 120px;}
#portfolio_mine .info_part{width:100%;margin:auto;float: none;padding: 68% 10% 2% 10%;}
.mine .info_part {  width: 96%;margin: auto;float: none;}
#portfolio_page .headline {font-size: 30px;}
.used_language {font-size: 13px;}
#portfolio_muji .info_part {padding: 68% 10% 2% 10%;width: 100%;margin: auto;float: none;}
.coffeebean .device_part {left: 0;}
.lotte .device_part {left:0;}
.view_btn{width: 100%;}
.lotte.view_btn {width: 100%;}
.coffeebean .view_btn{width:100%;}
#portfolio_lotte {padding-top:30px;}
}

@media screen and (max-width:400px){
.zt-skill-bar {height: 10px;line-height: 16px;}
.mytech{font-size: 12px;}
.noncolor_txt {font-size: 12px;}
}


@media screen and (max-width:970px){
.view_btn ul li { float: left;margin-right: 3px;width: 48%;}
.portfolio_btn{width: 100%;line-height: 45px;font-size: 12px;}
.view_btn {margin-top: 10px;}
}

@media screen and (min-width:590px) and (max-width:851px){
.view_btn {margin-top: 0px;}
}

@media screen and (max-width:919px){
.last_profile {font-size: 15px;margin-top: 20px;}
.site_purpose {font-size: 12px;}
}

@media screen and (min-width:1390px) and (max-width:1460px){
#portfolio_lotte  .view_btn ul {width: 98%;}
.view_btn ul li {width:48%;}
.portfolio_btn {width:100%;}
}

@media screen and (max-width:590px){
#portfolio_mine .view_btn ul {width:100%;}
#portfolio_muji .view_btn ul {width:100%;}
}

@media screen and (max-width:558px){
.heading{font-size: 50px;}
.soon-scroll-list li{font-size: 13px;}
.soon-scroll-list li.e{letter-spacing: 3px;}
}
@media screen and (max-width:446px){

.soon-scroll-list li.e{letter-spacing: 2px;}
}
@media screen and (max-width:500px){
.heading {font-size: 40px;line-height: 40px;letter-spacing: -1px;}}

@media screen and (max-width:409px){
  .soon-scroll-list li.e{letter-spacing: 1px;}
  .soon-scroll-list li{font-size: 13px;}
}

@media screen and (max-width:500px){
  .soon-scroll-list {margin-top: 2.5em;}
.thank_text{font-size: 45px;}
.outer_line .top_line{padding: 0 15px;}
}

@media screen and (max-width:544px){
.zt-skill-bar div {font-size:9px;}
}

@media screen and (min-width:1050px) and (max-width:1170px){
.right_txt {right:3%;}
}


@media screen and (min-width:691px) and (max-width:1120px){
.view_btn ul li {width:40%;}
}

@media screen and (min-width:691px) and (max-width:1120px){
  #portfolio_page .headline {font-size: 28px;width: 100%;}
}

@media screen and (min-width:700px) and (max-width:990px){
#portfolio_lotte .site_exp{width: 80%;}
}

@media screen and (max-width:1120px){
#about_page {height: 1440px;}}

@media screen and (max-width:425px){
#still_study{font-size: 11px;padding: 0 0 0 9px;}
}


@media screen and (max-width:1120px){
.development_lang{width: 100%;clear:both;}
#frontend{width:50%;float:left;}
#backend{width:42%;float:right;}
}

@media screen and (max-width: 400px){

.zt-skill-bar span {font-size: 8px;}
}
